%buttondefault {
    width: 8rem ;
    height: 2.7rem;
    background-color: rgb(212, 172, 189) ;
    border-radius: map-get($tamanos , raddius-card );
    &:hover {
        background-color:map-get($colores , backgroun-button-hover );
    }
}
