footer {
    background-image: linear-gradient(to top, $background-gradiente-lineal);
    min-height: 10vh;
    .footer__button {
        margin-top: .7rem;
    }
    .footer__logos {
        margin-left: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        .footer__img {
            &:hover {
                transform: scale(1.1,1.1);
            }
        }
    }
}

