header {
    background-image: linear-gradient(to bottom, $background-gradiente-lineal );
    min-height: 20vh;
    .header__logo {
        padding-left: 1rem;
        &:hover {
            background-color:map-get($colores , backgroun-button-hover );
            border-radius: map-get($tamanos , raddius-img ); 
                padding: 1rem;
        }
        .header__img {
            width: 8rem;
            height: auto;
            border-radius: map-get($tamanos , raddius-img ); 
        }
    }
    .offcanvas {
        background-color: map-get($colores , background-header-uno );
        .nav-item {
            padding: .5rem 2.5rem .5rem 2.5rem;
            font-size: 20px;
            &:hover{
                background-color: map-get($colores , background-header-dos );
            }
            .dropdown-menu {
                background-color: map-get($colores , background-header-uno );
                .dropdown-item{
                    &:hover {
                        background-color: map-get($colores , background-header-dos );
                    }
                }
            } 
        }
    }
}