.contacto {
    background-image: url(https://img.freepik.com/foto-gratis/primer-plano-planta-plantacion-manos-jardinero_1150-26615.jpg?w=1380&t=st=1665016865~exp=1665017465~hmac=8d36bd28c565ce849e83585c1f451d4f9c788847563fdb899f7ba0da2f3df939);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size:cover ;
    min-height: map-get($tamanos , height-main );
    .contacto__form {
        background-color: map-get($colores , background-card );
        border-radius: map-get($tamanos , raddius-card );
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.2rem 1rem 0.2rem;
    }    
}

