$background-gradiente-lineal: #f0ccf0, #efc2ef, #eeb8ee, #edaded, #eca3ec;

$colores: (
    background-header-uno: #eca3ec,
    background-header-dos: #d486d4,
    backgroun-button-hover:hsl(300, 66%, 78%)
);

$tamanos: (
    height-main: 70vh,
    raddius-card: 5px,
    raddius-img: 50%,
);

$opacity: (
    opacity-galeria: 0.85,
    opacity-contacto: 0.8,
)