* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*Header*/

 .cabecera {
   background-color: rgb(216, 179, 199);
   max-width: 100%;
   max-height: auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
 }

.cabecera__logo {
  border-radius: 50%;
}

/*Navbar*/

.cabecera__navbar {
  list-style-type: none;
  background-color: rgb(212, 172, 189);
  position: relative;
  display: flex;
  min-width: 100%;
}

.cabecera__navbar li{
  padding: 30px;
  font-size: 25px;
}

.cabecera__navbar li:hover {
  background-color: rgb(231, 161, 228);
  font-size: 26px;
} 

/*Dropdownmenu*/

.cabecera__productos {
  position:absolute; 
  display: none;
  min-width: 40%;
}

.cabecera__productos li {
  display: block;
  background-color: rgb(212, 172, 189);
}

ul li:hover ul {
  display: block;
}

/*Main Index*/

.inicio {
  background-image: url(../images/imagen_inicio.PNG);
  background-repeat: no-repeat;
  background-size:cover ;
  max-width: auto;
  height: 800px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inicio__descripcion {
  background-color: rgb(228, 197, 210);
  opacity: .6;
}

/*Main Secciones*/

.contenido {
  background-color:  rgb(228, 197, 210);
  height: 800px;
}

/*Main Productos*/

.productos {
  display: flex ; 
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center ;
}

.productos__div {
  border: 1px solid rgb(168, 163, 163);
}

.productos__div:hover {
  border: 1px solid rgb(0, 0, 0);
}

.productos__img {
width: 30em;
height: 30em;
}

.productos__descripcion {
  padding: 20px;
  text-align: center;
}

/*Main Galeria*/
.gallery {
  display: grid;
  grid-template-rows: repeat (3, 1fr);
  grid-template-columns: repeat(12, 1fr) ;
}

.gallery__img:nth-of-type(1) {
  grid-column:1 / 3  ;
}

.gallery__img:nth-of-type(2) {
  grid-column:3 / 5  ;
}

.gallery__img:nth-of-type(3) {
  grid-column:5 / 7  ;
}

.gallery__img:nth-of-type(4) {
  grid-column:7 / 9  ;
}

.gallery__img:nth-of-type(5) {
  grid-column:9 / 11  ;
}

.gallery__img:nth-of-type(6) {
  grid-column:11 / 13  ;
}

.gallery__img:nth-of-type(7) {
  grid-column:1 / 3  ;
}

.gallery__img:nth-of-type(8) {
  grid-column:3 / 5  ;
}

.gallery__img:nth-of-type(9) {
  grid-column:5 / 7  ;
}

.gallery__img:nth-of-type(10) {
  grid-column:7 / 9  ;
}

.gallery__img:nth-of-type(11) {
  grid-column:9 / 11  ;
}

.gallery__img:nth-of-type(12) {
  grid-column:11 / 13  ;
}


/*Main Contacto*/

.contacto {
  background-image: url(../images/fondo_contacto.PNG);
  background-repeat: no-repeat;
  background-size:cover ;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto__form {
  background-color: rgb(228, 197, 210);
  opacity: .8;
  display: flex;
  flex-direction: column;
}


/*Footer*/

.final {
  background-color:  rgb(216, 179, 199);
  max-width: auto;
  max-height: auto;
}

.final__contacto {
  height: 100%;
  width: 15%;
  font-size: 25px;
  display: flex;
  align-items: center ;
  justify-content: space-around;
}

.final__logos {
  display: flex;
  align-items: center ;
  justify-content: space-around;
}

.final__img {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  padding: 10px;
}
